@charset "UTF-8";

html {
  font-size: 62.5%;
  width: 100%;
  /* 画面横いっぱいに広げる */
}

body {
  color: #333;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: left;
  background-color: #fffff5;
}

section h2 {
  /* sectionの中のh2  */
  font-size: 2.4rem;
}

section h3 {
  /* sectionの中のh3  */
  font-size: 2.2rem;
  font-weight: bold;
}

*,
*:before,
*:after {
  /* 全ての要素に対して指定　＊＝全て　＋beforeafterは疑似要素　*/
  box-sizing: border-box;
  /* 内容、パディング、ボーダー、マージン　。。。普通内容幅とかで設定するけど内側の線とか面倒なので
  ボーダーのとこまでで幅指定するよって指定 */
}