@charset "UTF-8";
$buttonA-color:#E07F4C;
$buttonA-hovercolor:#E6B634;
$buttonB-color:#E6B634;
$buttonB-hovercolor:#E07F4C;

//750px,375px
//lineheight 統一する
/*PC：設定なし（実質1025px以上）
タブレット：1024px [max-width : 1024px]
スマートフォン：599px [max-width : 599px]320*/
//     max-width: 430px;要検討
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

svg {
  width: 100vw;
  height: auto;
}

.hamburger {
  display: none;

  @media screen and(max-width : 599px) {
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    float: right;
    margin: 0 11px 0 0; //24-(50-24   /2)  =13
    // background-color: #E07F4C;

    //before after にする？
    span {
      display: inline-block;
      transition: all 0.6s;
      height: 2px;
      border-radius: 10px;
      background-color: #707070;
      position: absolute;
      right: 13px;
    }

    span:nth-of-type(1) {
      top: 15px;
      width: 24px;
    }

    span:nth-of-type(2) {
      top: 25px;
      width: 24px;
    }

    span:nth-of-type(3) {
      top: 35px;
      width: 24px;
    }
  }
}

.hamburger-active {
  span:nth-of-type(1) {
    transform: translate(3px, 10px)rotate(315deg);
    width: 30px;
  }

  span:nth-of-type(2) {
    opacity: 0;
  }

  span:nth-of-type(3) {
    transform: translate(3px, -10px) rotate(-315deg);
    width: 30px;
  }
}

.hamburger-menu {
  position: fixed;
  z-index: 999;
  top: 50px;
  height: 80vh;
  width: 320px;
  background-color: rgba($color: #fff, $alpha: 0.95);
  transition: all 0.6s;
  right: -100%; //スタート位置

  ul {
    position: absolute;
    top: 50px;


    li {
      list-style: none;
      text-align: left;
      margin-bottom: 32px;
      padding-left: 55px;

      a {
        color: #707070;
        font-size: 1.4rem;
      }

      &:last-child {
        padding-left: 38px;
      }
    }


  }
}

.menu-active {
  right: 0;
}

.header {
  z-index: 99;
  position: fixed;
  top: 0px;
  /* 固定ヘッダー*/
  height: 70px;
  width: 100%;

  backdrop-filter: blur(8px);
  background-color: rgba($color: #fff, $alpha: 0.6);

  @media screen and(max-width : 599px) {
    height: 50px;
  }


  .header-contents {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    max-width: 1224px;
    margin: 0 auto;
    /* max超えたとき左右中央にいる　画面横幅1280のとき*/



    img {
      width: 150px;
      margin-left: 50px;
      float: left;
      padding-top: 13px;

      @media screen and(max-width : 599px) {
        width: 89px;
        margin-left: 24px;
        padding-top: 12px;
      }
    }


    nav {
      height: 100%;

      @media screen and(max-width : 599px) {
        display: none;
      }

      /*いらないかも*/
      a {
        color: #333;
      }

      ul {
        float: left;
        padding-top: 28px;


      }

      ul li {
        display: inline-block;
        /* 横並び*/
        padding-right: 50px;
      }

      ul li:first-child {
        padding-left: 70px;
      }
    }
  }

  .header-button {
    float: right;
    margin: 10px 50px 0px 0px;
    padding: 18px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    line-height: 1.4rem;
    background-color: $buttonA-color;

    a {
      color: #fff !important;
    }

    &:hover {
      background-color: $buttonA-hovercolor;
    }
  }

}

.header-under {
  height: 70px;
  background-color: #fff;

  @media screen and(max-width : 599px) {
    height: 50px;
  }
}

.section-top {
  position: relative;
  width: 100%;


  .section-top__slide {
    height: 560px;
    width: 100%;
    object-fit: cover;

    @media screen and(max-width : 599px) {
      height: 350px;
    }
  }

  .section-top__message {
    max-width: 1224px;
    font-weight: bold;
    position: absolute;
    top: 370px;
    left: 0;
    right: 0;
    margin: auto;

    .top-yasai,
    .top-home {
      display: none;
    }

    @media screen and(max-width : 599px) {
      top: 225px;
      max-width: 550px;

      .top-yasai,
      .top-home {
        display: table;
      }

      .top-yasaiathome {
        display: none;
      }
    }

    p {
      margin-left: 50px;
      font-size: 3.0rem;
      line-height: 5.0rem;
      background-color: #fff;
      padding: 5px 20px;
      margin-bottom: 20px;
      display: table;

      /* 文字幅のbg*/
      @media screen and(max-width : 599px) {
        margin-left: 24px;
        font-size: 2.0rem;
        line-height: 3.0rem;
        padding: 0 8px;
        margin-bottom: 7px;

      }
    }
  }
}

.section-toplead__pc {
  padding-top: 100px;
  font-size: 1.8rem;
  text-align: center;
  line-height: 4.0rem;
  max-width: 1024px;
  margin: 0 auto 50px;

  @media screen and(max-width : 599px) {
    display: none;
  }
}

.section-toplead__sp {
  display: none;

  @media screen and(max-width : 599px) {
    font-size: 1.6rem;
    max-width: 550px;
    line-height: 3.2rem;
    display: block;
    padding: 60px 32px;
    margin: 0 auto;
  }
}

.section-reason {


  .reason-wave {
    width: auto;
    height: 110px;
    background-image: url("../images/reason-wave.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and(max-width : 599px) {
      height: 70px;
    }
  }

  .reason-beg {
    height: 200px;
    background-image: url("../images/reason-beg.png");
    background-position: 60% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and(max-width : 599px) {
      height: 130px;
    }

    @media screen and(min-width : 1500px) {
      //ついでに
      height: 230px;
      background-position: 30% 40%;
    }
  }

  .section-reason__text {
    height: 100%;
    background-image: url("../images/reason-beg_bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;



    @media screen and(max-width : 599px) {
      //background-image: url("../images/reason.png");



      //top: -900px;

    }

    h3 {
      text-align: center;

      margin-bottom: 70px;

      @media screen and(max-width : 599px) {

        margin-bottom: 30px;
        font-size: 2.0rem;
        line-height: 3.4rem;
      }

      br {
        display: none;

        @media screen and(max-width : 599px) {
          display: block;
        }
      }

      span {
        font-size: 4.0rem;

        @media screen and(max-width : 599px) {
          font-size: 3.0rem;
          line-height: 5.0rem;
        }
      }
    }

    ol {
      text-align: justify;
      padding: 0 50px;
      margin: 0 auto;
      max-width: 1224px;
      display: flex;
      justify-content: space-between;
      list-style: none;

      @media screen and(max-width : 599px) {
        flex-direction: column;
        padding: 0 39px;
        // margin: 0 auto 110px;
        max-width: 430px;
      }

      .number {
        font-size: 1.4rem;
        margin-bottom: 18px;

        @media screen and(max-width : 599px) {
          font-size: 1.2rem;
          margin-bottom: 15px;
          line-height: 1.2rem;
        }

        &:after {
          content: "";
          background-color: #333;
          border-radius: 8px;
          /* 線幅の半分 */
          display: inline-block;
          height: 1px;
          /* 線の長さ */
          margin-left: 10px;
          /* 線左の余白 */
          vertical-align: 0.4rem;
          width: 16px;
          /* 線幅 */
        }
      }

      h4 {
        font-size: 2rem;
        margin-bottom: 25px;

        @media screen and(max-width : 599px) {
          font-size: 1.6rem;
          line-height: 1.6rem;
          margin-bottom: 15px;
        }
      }
    }

    li {
      padding-right: 65px;
      width: 100%;
      line-height: 3.2rem;

      &:last-child {
        padding-right: 0px;
      }

      @media screen and(max-width : 599px) {
        padding-right: 0;
        margin-bottom: 10%; // 40px;

        p {
          font-size: 1.3rem;
          line-height: 2.6rem;
        }

        span {
          display: none;
        }

        &:last-child {
          margin-bottom: 1%;
        }
      }
    }
  }
}

@mixin shop-contents {
  margin: 0 auto;
  max-width: 1124px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden; //子要素（ボタン）下マージン効かない問題への対処法
}

@mixin shop-title {
  text-align: center;
}

//ボタンmixin
@mixin shop-button {
  margin: 0 auto 40px;
  text-align: center;
  padding: 25px 0;
  height: 70px;
  width: 380px;
  border-radius: 35px;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  line-height: 2rem;
  position: relative;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
}

.section-shop {
  background-color: #87A07F;
  padding: 90px 50px;
  margin-bottom: 80px;



  @media screen and(max-width : 599px) {
    h2 {
      font-size: 2.2rem;
    }

    padding: 90px 24px 80px;
    margin-bottom: 60px;
  }

  .bold {
    font-weight: 600;
  }

  .section-try {
    @include shop-contents;
    margin-bottom: 50px;


    @media screen and(max-width : 599px) {
      margin-bottom: 60px;
      max-width: 430px;
    }

    .shop-title {
      @include shop-title;
      padding-top: 70px;
      margin-bottom: 60px;

      @media screen and(max-width : 599px) {
        font-size: 1.4rem;
        padding-top: 35px;
        margin-bottom: 30px;

        p {
          margin-bottom: 12px;
          line-height: 1.4rem;
        }
      }
    }

    ul {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      padding: 0 10% 50px;

      @media screen and(max-width : 599px) {
        flex-direction: column;
        padding: 0 4.5% 32px;
        width: 100%;
      }

      li {
        list-style: none;
        width: 46%;

        @media screen and(max-width : 599px) {
          width: 100%;

          .bold {
            font-size: 1.4rem;
          }

          .price {
            font-size: 1.2rem;
          }

        }

        img {
          width: 100%;
          height: auto;
        }

        &:first-child {
          margin-right: 8%;

          @media screen and(max-width : 599px) {
            margin-right: 0;
            margin-bottom: 45px;
            ;
          }
        }
      }
    }

    .section-shop__button {
      @include shop-button;
      background-color: $buttonA-color;

      a {
        color: #fff;
      }

      @media screen and(max-width : 599px) {
        margin: 0 auto 28px;
        width: 297px;
        height: 60px;
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding: 22px 0;
      }

      &:hover {
        background-color: $buttonA-hovercolor;
      }
    }
  }


  .section-shop__regular {
    @include shop-contents;


    #regular-sp {
      display: none;
    }

    @media screen and(max-width : 599px) {
      max-width: 430px;

      #regular-sp {
        display: none;
      }

      #regular-sp.slick-initialized {
        display: block;
      }

      /* .slick-dots li button:before {
        font-size: 20px !important;
      }*/
      //効かない

      #regular-pc {
        display: none;
      }

      ul#regular-sp>li:not(:first-child) {
        display: none;
      }
    }


    .shop-title {
      @include shop-title;
      padding-top: 50px;
      margin-bottom: 40px;

      @media screen and(max-width : 599px) {
        padding-top: 30px;
        margin-bottom: 0px;
        font-size: 1.2rem;

        h3 {
          font-size: 2.0rem;
          margin-bottom: 0px;
        }

        p {
          margin-bottom: 10px;
          line-height: 1.2rem;
        }
      }

      span {
        font-size: 1.2rem;
        font-weight: normal;
        padding-left: 10px;

        @media screen and(max-width : 599px) {
          display: none;
        }
      }

      .section-shop__regular-sp {
        display: none;

        @media screen and(max-width : 599px) {
          display: block;
          text-align: right;
          margin-bottom: 5px;
          width: 90%;
          line-height: 1.2rem;
        }
      }
    }

    @media screen and(max-width : 599px) {
      .slick-arrow {
        position: absolute;
        top: 0;
        //  bottom: 0;
        // margin: auto;
        //width: 85.5%;
        height: 65%;
        z-index: 99;
      }

      .prev-arrow {
        left: 10px;
        width: 3%;
      }

      .next-arrow {
        right: 10px;
        width: 3%;

      }


    }

    ul {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      padding: 0 10% 50px;
      font-size: 1.4rem;

      @media screen and(max-width : 599px) {
        padding: 0 4.5%;
        width: 100%;
      }


      li {
        list-style: none;
        width: 31%;
        margin-right: 3.5%;

        @media screen and(max-width : 599px) {
          // width: 90%;
          margin: 0;

          .regular-sp__li {
            padding: 0 4.5%; //30px;
            margin-bottom: 24px;
          }

        }

        img {
          width: 100%;
          height: auto;

          @media screen and(max-width : 599px) {
            width: 100%;
            margin: 0 auto 15px;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .section-shop__button {
      @include shop-button;
      background-color: $buttonB-color;
      color: #000;

      @media screen and(max-width : 599px) {
        margin: 0 auto 28px;
        max-width: 297px;
        height: 60px;
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding: 22px 0;

        a {
          color: #333;
        }
      }


      &:hover {
        background-color: $buttonB-hovercolor;
      }
    }
  }
}


.section-guarantee {
  text-align: center;

  h2 {
    margin-bottom: 15px;

    @media screen and(max-width : 599px) {
      margin-bottom: 0px;
    }
  }

  .lead {
    margin-bottom: 65px;

    @media screen and(max-width : 599px) {
      font-weight: bold;
      font-size: 1.4rem;
      margin-bottom: 20px;
    }

    br {
      display: none;

      @media screen and(max-width : 599px) {
        display: block;
      }
    }
  }

  .section-guarantee__img-sp {
    display: none;

    @media screen and(max-width : 599px) {
      display: block;
      width: 154px;
      height: 120px;
      margin: 30px auto;
    }
  }

  .section-guarantee__img-pc {
    display: block;
    width: 154px;
    height: 120px;
    margin: 55px 10%;


    @media screen and(max-width : 599px) {
      display: none;
    }
  }

  .section-guarantee__text {
    text-align: left;
    display: flex;
    padding: 0 50px;
    margin: 0 auto 90px;
    line-height: 3.2rem;
    justify-content: space-between;
    max-width: 1124px;

    @media screen and(max-width : 599px) {
      flex-direction: column;
      padding: 0 24px;
      width: 100%;
      margin: 0 auto;

    }

    .section-guarantee__text-message__pc {
      width: 628px;

      @media screen and(max-width : 599px) {
        display: none;
      }
    }

    .section-guarantee__text-message__sp {
      display: none;

      @media screen and(max-width : 599px) {
        display: block;
        padding: 0 4.5% 42px;
        width: 100%;
        font-size: 1.3rem;
        max-width: 430px;
        margin: 0 auto;
      }
    }

  }
}

.organic {
  text-align: center;
  background-image: url("../images/organicbgpc.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top;
  padding: 110px 50px 90px;
  position: relative;
  margin-bottom: 70px;

  @media screen and(max-width : 599px) {
    padding: 55px 24px 50px;
    margin-bottom: 20px;
  }

  .organic-title__p {
    font-weight: 600;
    margin: 0 500px 10px 0;

    @media screen and(max-width : 599px) {
      margin: 0 auto 5px;
      font-size: 1.4rem;
    }
  }

  .organic-title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and(max-width : 599px) {
      margin: 0 auto 40px;
      flex-direction: column;
      position: relative;
    }

    h2 {
      @media screen and(max-width : 599px) {
        font-size: 2.2rem;
        line-height: 3.2rem;
      }

      br {
        display: none;

        @media screen and(max-width : 599px) {
          display: block;
        }
      }
    }

    img {
      margin: -10px 0 0 15px;
      width: 84px;
      height: 44px;

      @media screen and(max-width : 599px) {
        width: 52px;
        height: 27px;
        margin: 0;
        position: absolute;
        top: 35px;
        right: calc(50% - 130px); //真ん中マイナス絶対指定calc
      }
    }
  }

  .section-organic__main {
    max-width: 1124px;
    margin: 0 auto 60px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 0 60px;

    @media screen and(max-width : 599px) {
      flex-direction: column;
      padding: 0 4.5%;
      max-width: 430px;

    }

    p {
      text-align: justify;
      width: 50%;
      margin-right: 30px;
      line-height: 3.2rem;

      @media screen and(max-width : 599px) {
        margin-right: 0px;
        width: 100%;
        font-size: 1.3rem;
        line-height: 2.6rem;
        margin: 0 auto 45px;
      }
    }

    table {
      width: 50%;
      border-collapse: collapse; //隣接するセルのボーダー重ねる

      @media screen and(max-width : 599px) {
        width: 100%;
      }

      th {
        font-weight: 300;
        vertical-align: middle;
        width: 115px;
        border-right: 1px solid #707070;

        @media screen and(max-width : 599px) {
          font-size: 1.2rem;
          height: 30px;
          line-height: 1.2rem;
        }

        &:last-child {
          border-right: 0;

        }

        img {
          width: 45px;

          @media screen and(max-width : 599px) {
            width: 30px;
          }
        }

        span {
          font-size: 14px;

          @media screen and(max-width : 599px) {
            display: block;
            font-size: 1.0rem;
            padding-top: 5px;
            margin-bottom: 5px;
          }
        }
      }

      td {
        vertical-align: middle;
        width: 115px;
        border-right: 1px solid #707070;

        @media screen and(max-width : 599px) {
          font-size: 1.2rem;
        }

        &:last-child {
          border-right: 0;
        }
      }

      tr {
        border-bottom: 1px solid #707070;

        &:last-child {
          border-bottom: 0;
        }
      }

      .th-sp {
        @media screen and(max-width : 599px) {
          width: 22%;
        }
      }
    }


  }

  .graph {
    max-width: 900px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    margin: 0 auto;
    border-radius: 8px;

    @media screen and(max-width : 599px) {
      flex-direction: column;
      padding: 20px 24px 0;
      max-width: 430px;
    }

    .graph-title__sp {
      display: none;

      @media screen and(max-width : 599px) {
        display: block;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 2.1rem;
      }
    }

    #lottie-graph2 {
      width: 40%;
      //   height: 100%;
      padding: 30px 25px 22px 25px;
      // display: flex;

      @media screen and(max-width : 599px) {
        width: 70%;
        margin: 25px auto 20px;
        padding: 0;
      }

      svg {
        min-width: 300px !important;
        min-height: 220px !important;

        @media screen and(max-width : 599px) {
          min-width: 200px !important;
          min-height: 147px !important;
        }
      }
    }

    .graph-text {
      max-width: 60%;
      display: flex;
      flex-direction: column;
      width: 500px;
      padding: 40px 44px 40px 0;
      margin: 0 0 0 auto;

      @media screen and(max-width : 599px) {
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
      }


      .graph-title {
        margin-bottom: 45px;

        br {
          display: none;

          @media screen and(max-width : 360px) {
            display: block !important;
          }

          ///////////////////////////////js入れたのでいらないかも

          @media screen and(max-width : 599px) {
            display: none;
          }
        }


        @media screen and(max-width : 599px) {
          margin-bottom: 20px;

        }

        @media screen and(max-width : 360px) {
          letter-spacing: 0.2rem;

          .graph-text__span-sp {
            letter-spacing: -0.5rem;
          }
        }

        p {
          background: linear-gradient(transparent 60%, #EFD38A 60%);
          padding: 0 3px;
          display: inline-block;

          @media screen and(max-width : 599px) {
            font-size: 1.2rem;
            font-weight: bold;
            background: linear-gradient(transparent 70%, #EFD38A 70%);
          }
        }



        .graph-text__span {
          font-size: 3.0rem;

          @media screen and(max-width : 599px) {
            font-size: 2.2rem;
          }
        }
      }

      @media screen and(max-width : 599px) {
        .graph-text__span-pconly {
          display: none;
        }
      }

      .graph-message {
        text-align: justify;

        @media screen and(max-width : 599px) {
          font-size: 1.3rem;
          line-height: 2.6rem;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.section-season {
  text-align: center;
  padding-top: 24px;
  margin-bottom: 20px; //とりあえず適当px

  @media screen and(max-width : 599px) {}

  h2 {
    font-size: 2.2rem;
    margin-bottom: 40px;

    @media screen and(max-width : 599px) {
      margin-bottom: 30px;
    }

    #season {
      font-size: 5.5rem;
      letter-spacing: 0.2em
    }

    #spacing {
      letter-spacing: -0.5em
    }
  }

  background-image: url("../images/mushimegane.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% - 134px) -15px; //真ん中マイナス絶対指定calc
  background-size: 145px;

  p {
    line-height: 3.2rem;

    .section-season__p-br {
      display: none;
    }

    @media screen and(max-width : 599px) {
      font-size: 1.3rem;
      line-height: 2.3rem;
      margin: 0 24px 25px;

      .section-season__p-br {
        display: block;
      }
    }
  }

  .section-season__img-pc {
    width: 100%;
    max-width: 850px;

    @media screen and(max-width : 599px) {
      display: none;
    }
  }

  .section-season__beg-sp {
    display: none;

    @media screen and(max-width : 599px) {
      display: block;

      padding: 0 24px;

      ul {
        margin: 0 auto;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 327px;


        li {
          list-style: none;
          margin: 0 auto 5px;
          text-align: justify;
          width: 100%;



          .season-name {
            padding: 7px 20px 0;
            height: 30px;



            h4 {
              //         padding-bottom: 25px;
              position: relative;
              font-size: 1.6rem;
              font-weight: bold;
              line-height: 1.6rem;



              .triangle {
                float: right;
                display: block;
                transform: rotate(180deg);
                margin: 11px 20px 0;
                position: absolute;
                top: 10px;
                right: 0;
              }

              .spring-triangle {
                float: right;
                display: block;
                transform: rotate(0deg);
                margin: 0px;
                position: absolute;
                top: -5px;
                right: 0;
              }

              .triafter {
                transform: rotate(0deg);
                margin: 0;
                top: -5px;
              }

              .spring-triafter {
                transform: rotate(180deg);
                margin: 11px 20px 0;
                top: 10px;
              }

              .triangle span {
                content: "";
                width: 15px;
                height: 4px;
                position: absolute;
                border-radius: 5px;
                background: #333;
              }


              .triangle span:nth-of-type(1) {
                top: 13px;
                right: 2px;
              }

              .triangle span:nth-of-type(2) {
                width: 12px;
                top: 10px;
                right: 6px;
                transform: rotate(-226deg);

              }

              .triangle span:nth-of-type(3) {
                width: 12px;
                top: 10px;
                right: 0;
                transform: rotate(226deg);

              }

              .triangle span:nth-of-type(4) {
                height: 5px;
                width: 5px;
                top: 10px;
                right: 6.5px;

              }



            }
          }

          .spring {
            background-image: url("../images/spring-bg.png");
            background-size: cover;
          }

          .summer {
            background-image: url("../images/summer-bg.png");
            background-size: cover;
          }

          .autumn {
            background-image: url("../images/autumn-bg.png");
            background-size: cover;
          }

          .winter {
            background-image: url("../images/winter-bg.png");
            background-size: cover;
          }

          .season-beg {
            // font-size: 0px;
            width: 100%;
            //height: auto;
            //height: 300px;
            // padding: 0 45px 30px;

            //background-color: pink;

            display: none;
            object-fit: cover; // height: 100%; //57
            top: 0;
            // transition: .7s;
            //    opacity: 0;
            border-radius: 0 0 8px 8px;

            img {
              width: 100%;
              //height: 100%;
              vertical-align: middle;
              // object-position: bottom;
              border-radius: 0 0 8px 8px;
            }

            .showUP {
              opacity: 1;
              margin-top: 0;
            }
          }

          .season-beg__first {
            display: block;
          }
        }



      }



    }

  }
}

.section-farmar {
  text-align: center;
  padding: 50px 50px 0;
  margin-bottom: 100px;
  background-image: url("../images/farmar.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% - 120px) -10px;
  background-size: 160px;

  @media screen and(max-width : 599px) {
    padding: 50px 24px 0;
    background-size: 135px;
    background-position: calc(50% - 120px) 8px;
  }

  h2 {
    margin-bottom: 60px;

    @media screen and(max-width : 599px) {
      font-size: 2.2rem;
      margin-bottom: 30px;
    }
  }

  ul {
    margin: 0 auto;
    max-width: 1124px;
    display: flex;
    justify-content: center;

    @media screen and(max-width : 599px) {
      display: block;
      // flex-direction: column;
      max-width: 430px;
    }

    li {
      list-style: none;
      width: 460px;
      border-radius: 8px;
      background-color: #C7D3C0;
      padding-top: 30px;

      @media screen and(max-width : 599px) {
        width: 100%;
        background-color: transparent;
        padding-top: 0px;
      }

      img {
        filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, 0.1));
        width: 70%;
        height: auto;
        margin-bottom: 30px;

        @media screen and(max-width : 599px) {
          width: 100%;
          padding: 20px 8%;
          margin-bottom: 0px;
        }

        //なぜかslickのfloat?で左に寄ってしまうので100%にした上でpaddingつけた
      }

      h4 {
        margin-bottom: 30px;

        @media screen and(max-width : 599px) {
          font-size: 1.4rem;
          margin-bottom: 15px;
        }

        @media screen and(max-width : 373px) {
          font-size: 1.3rem;
        }

        //2段嫌だなあと思ってついでに
      }

      .section-farmar__text {
        margin: 0;
        padding: 0 40px;
        text-align: justify;
        line-height: 2.8rem;

        @media screen and(max-width : 599px) {
          font-size: 1.3rem;
          padding: 0;
          margin-bottom: 5px;
        }
      }

      .section-farmar__name {
        padding: 30px 40px 0 0;
        text-align: right;
        margin-bottom: 24px;

        @media screen and(max-width : 599px) {
          font-size: 1.2rem;
          padding: 0 0 15px 0;
          margin-bottom: 0px;
        }
      }

      &:first-child {
        margin-right: 80px;

        @media screen and(max-width : 599px) {
          margin-right: 0;
        }
      }
    }
  }

  #farmar-sp {
    display: none;
  }

  @media screen and(max-width : 599px) {
    .farmar-contents {
      margin: 0 24px 20px;
      padding: 0 20px;
      //background-color: #C7D3C0;
      border-radius: 8px;
      background-color: #C7D3C0;


    }


    #farmar-sp {
      display: none;
    }

    #farmar-sp.slick-initialized {
      display: block;
    }


    #farmar-pc {
      display: none;
    }

    ul#farmar-sp>li:not(:first-child) {
      display: none;
    }

    //?????nanikore↑
    .slick-dots li {
      display: inline;
      //margin: 0;

      button {
        display: inline-block;
      }
    }


  }

  @media screen and(max-width : 599px) {
    .slick-arrow {
      position: absolute;
      top: 0;
      height: 95%;
      z-index: 99;
    }

    .prev-arrow {
      left: 0px;
      width: 3%;
    }

    .next-arrow {
      right: 0px;
      width: 3%;

    }
  }


}

.section-voice {
  text-align: center;
  margin-bottom: 90px;
  padding: 0 50px;

  @media screen and(max-width : 599px) {
    padding: 0 24px;
    margin-bottom: 70px;
  }

  h2 {
    margin-bottom: 60px;
    line-height: 3.2rem;

    @media screen and(max-width : 599px) {
      margin-bottom: 30px;
      font-size: 2.2rem;

      span {
        letter-spacing: -0.5rem;
      }
    }
  }

  .hand {
    font-size: 1.4rem;
    letter-spacing: -0.1rem;
  }

  #voice-pc {
    margin: 0 auto;
    max-width: 1124px;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      list-style: none;
      background-color: #fff;
      margin-bottom: 40px;
      padding: 20px 40px;
      //margin: 0 auto;
      max-width: 1000px; //455*2+80
      border-radius: 8px;
      box-shadow: 0 3px 12px rgba($color: #000000, $alpha: 0.06);

      .section-voice__container {
        display: flex;

        img {
          width: 13%;
          height: 13%;
          margin: auto 0;
          filter: drop-shadow(3px 3px 12px #E6E6E6);
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .section-voice__title {
          width: 23%;
          margin: 0 0 0 3%;
          //   right: 0;
          // left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          h4 {
            margin-bottom: 5px;

            br {
              display: none;
            }

            @media screen and(max-width :1085px) {
              br {
                display: block;
              }
            }
          }
        }

        p {
          font-size: 1.4rem;
          font-weight: 300;
        }

      }

      .voice {
        width: 54%;
        text-align: justify;
        line-height: 2.8rem;
        display: flex;
        align-items: center;
      }

      .border {
        border-left: solid 1px #707070;
        height: 63px;
        width: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0 auto 3%;
      }
    }

    &:last-child {
      margin-bottom: 0px;
    }

    @media screen and(max-width : 599px) {
      display: none;
    }
  }


  #voice-sp {
    display: none;

    @media screen and(max-width : 599px) {
      display: block;
      margin: 0 auto;
      max-width: 430px;
      //display: flex;
      //flex-direction: column;
      //align-items: center;
      justify-content: center;

      li {
        list-style: none;
        margin-bottom: 0px;
        padding: 0;
        //margin: 0 auto;
        width: 100%;

        .section-voice__sp-container {
          //display: flex;
          margin: 0 24px 20px;
          padding: 20px;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 3px 12px rgba($color: #000000, $alpha: 0.06);

          br {
            display: none;
          }

          @media screen and(max-width : 396px) {
            h4 {
              //display: block;
              font-size: 1.2rem;
            }
          }

          .section-voice__sp-titles {
            display: flex;
            width: 100%;
            margin-bottom: 20px;

            img {
              width: 25%;
              height: 100%;
              margin: 0 5% 0 0;
              filter: drop-shadow(3px 3px 12px #E6E6E6);
              //padding: 200px 8%;
              // 
            }

            .section-voice__sp-title {
              width: 75%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;



              h4 {
                font-size: 1.4rem;
                text-align: left;
              }

              p {
                font-size: 1.2rem;
              }
            }
          }

          .voice {
            width: 100%;
            text-align: justify;
            line-height: 2.6rem;
            font-size: 1.3rem;
          }
        }

        /* #voice-sp {
        display: none;
      }*/

        #voice-sp.slick-initialized {
          display: block;
        }




        ul#voice-sp>li:not(:first-child) {
          display: none;
        }

        //?????nanikore↑

      }

      .slick-dots li {
        display: inline;
        //margin: 0;

        button {
          display: inline-block;
        }
      }

      .slick-arrow {
        position: absolute;
        top: 0;
        height: 95%;
        z-index: 99;
      }

      .prev-arrow {
        left: 0px;
        width: 3%;

      }

      .next-arrow {
        right: 0px;
        width: 3%;
      }
    }




  }
}



.section-QA {
  text-align: center;
  background-color: #C7D3C0;
  margin-bottom: 70px;
  text-align: center;
  padding: 30px 50px 0;

  @media screen and(max-width : 599px) {
    padding: 30px 24px 0;
    margin-bottom: 55px;
  }

  h2 {
    margin-bottom: 60px;
    line-height: 3.2rem;

    @media screen and(max-width : 599px) {

      margin-bottom: 30px;
    }
  }

  ul {
    margin: 0 auto;
    max-width: 1124px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .second {
      @media screen and(max-width : 599px) {
        margin: 0 auto 30px;
      }
    }

    li {
      list-style: none;
      margin: 0 auto 70px;
      max-width: 1000px; //455*2+80
      text-align: justify;
      width: 100%;

      first-child {
        margin: 0 auto 30px;
      }




      .Q {
        padding: 25px 45px 0;
        border-radius: 8px 8px;
        background-color: #fff;

        @media screen and(max-width : 599px) {
          padding: 20px 16px 0;
        }


        h4 {
          padding-bottom: 25px;
          position: relative;

          @media screen and(max-width : 599px) {

            font-size: 1.4rem;

          }

          br {
            display: none;
          }

          @media screen and(max-width : 599px) {
            br {
              display: inline-block;
            }

            padding-bottom: 20px;

          }


          .triangle {
            float: right;
            display: block;
            transform: rotate(180deg);
            margin: 25px 20px 0 0;
          }

          .triafter {
            transform: rotate(0deg);
            margin: 0px;
          }


          .triangle span {
            content: "";
            width: 15px;
            height: 4px;
            position: absolute;
            border-radius: 5px;
            background: #333;

          }


          .triangle span:nth-of-type(1) {
            top: 13px;
            right: 2px;
          }

          .triangle span:nth-of-type(2) {
            width: 12px;
            top: 10px;
            right: 6px;
            transform: rotate(-226deg);

          }

          .triangle span:nth-of-type(3) {
            width: 12px;
            top: 10px;
            right: 0;
            transform: rotate(226deg);

          }

          .triangle span:nth-of-type(4) {
            height: 5px;
            width: 5px;
            top: 10px;
            right: 6.5px;

          }

          @media screen and(max-width : 599px) {
            .sp-triangle {
              position: absolute;
              right: 0;
              top: 10px;
            }
          }
        }
      }

      .A {
        padding: 0 45px 30px;
        border-radius: 0 0 8px 8px;
        background-color: #fff;
        display: none;

        @media screen and(max-width : 599px) {

          padding: 0 16px 20px;

        }

        p {
          padding-top: 25px;
          border-top: 1px solid #707070;
          color: #707070;
          line-height: 2.8rem;
        }
      }
    }

  }

  @media screen and(max-width : 599px) {

    p {
      font-size: 1.3rem;
    }

    .sp-triangle {
      position: absolute;
      right: 0;
      top: 10px;
    }
  }
}

.section-mediainfo {
  text-align: center;
  margin-bottom: 70px;
  padding: 0 50px;

  @media screen and(max-width : 599px) {
    padding: 0px 40px;
    margin-bottom: 55px;
  }

  h2 {
    margin-bottom: 60px;

    @media screen and(max-width : 599px) {
      margin-bottom: 35px;
    }
  }

  li {
    list-style: none;
    margin: 0 auto 32.5px;
    max-width: 1000px; //455*2+80
    text-align: justify;
    width: 100%;

    @media screen and(max-width : 599px) {
      margin: 0 auto 13px;
    }

    p {
      padding: 0 45px;

      br {
        display: none;
      }

      @media screen and(max-width : 599px) {
        font-size: 1.4rem;
        padding: 0 15px;

        br {
          display: block;
        }
      }

      time {
        padding-right: 20px;

        @media screen and(max-width : 599px) {
          font-size: 1.2rem;
        }

      }
    }

    &:nth-of-type(n+2) :nth-of-type(-n+4) {
      border-top: solid 1px #d9d4d4;
      padding-top: 32.5px;

      @media screen and(max-width : 599px) {
        padding-top: 13px;
      }

      time {
        border-top: none;
      }


    }


  }
}

.section-try2 {
  @media screen and(max-width : 599px) {
    padding: 0 24px;
  }

  .section-try2__container {
    @include shop-contents;
    box-shadow: 0 3px 12px rgba($color: #777, $alpha: 0.06);
    margin: 0 50px 130px;

    @media screen and(max-width : 599px) {
      margin: 0 auto 80px;
      max-width: 430px;
    }
  }

  .shop-title {
    @include shop-title;
    padding-top: 60px;
    margin-bottom: 60px;

    @media screen and(max-width : 599px) {
      padding-top: 35px;
      margin-bottom: 30px;

      p {
        font-size: 1.4rem;
      }

      h2 {
        font-size: 2.2rem;
      }
    }
  }

  ul {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 0 10% 50px;

    @media screen and(max-width : 599px) {
      flex-direction: column;
      padding: 0 4.5% 25px;
    }

    li {
      list-style: none;
      width: 46%;

      @media screen and(max-width : 599px) {
        width: 100%;
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      img {
        width: 100%;
        height: auto;

        @media screen and(max-width : 599px) {
          margin-bottom: 5px;
        }
      }

      &:first-child {
        margin-right: 8%;
      }

      .bold {
        font-weight: 600;

        @media screen and(max-width : 599px) {
          font-size: 1.4rem;

          /* :first-letter {
            letter-spacing: 0.2rem;
          }効かないなあ*/
        }
      }

      @media screen and(max-width : 599px) {
        p {
          font-size: 1.2rem;

          /*   :first-letter {
            letter-spacing: 0.2rem;
          }効かないなあ*/
        }

      }

    }
  }

  .section-shop__button {
    @include shop-button;
    background-color: $buttonA-color;

    &:hover {
      background-color: $buttonA-hovercolor;
    }

    @media screen and(max-width : 599px) {
      display: none;
    }
  }
}

footer {
  background-image: url("../images/footer.svg");
  background-size: cover;
  //background-size: 100vw 100%;
  background-repeat: no-repeat;
  background-position: top;
  height: 185px;
  position: relative;

  @media screen and(max-width : 599px) {
    height: 85px;
  }

  .images {
    position: relative;

    .butterfly {
      width: 40px;
      margin-left: 10%;
      position: absolute;
      top: -98px;

      @media screen and(max-width : 599px) {
        transform: scale(-1, 1); //反転
        width: 10px;
        margin-left: 0%;
        top: -50px;
        right: 0;
        margin-right: 35%;
      }
    }

    .petit {
      display: none;

      @media screen and(max-width : 599px) {
        width: 30px;
        display: block;
        position: absolute;
        bottom: -75px;
        right: 78px;
        z-index: 9999;
      }
    }

    .mogura {
      z-index: 666;
      right: 0px;
      position: absolute;
      padding-right: 5%;
      // padding-bottom: 50px;
      top: -70px;

      @media screen and(max-width : 599px) {
        margin-left: 7%;
        padding-right: 0%;
        left: 0;
        top: -63px;
      }

      p {
        margin-bottom: 22px;

        @media screen and(max-width : 599px) {
          font-size: 1.2rem;
          margin-left: 20%;
          margin-bottom: 0px;
          padding-top: 20px;
        }
      }

      img {
        width: 210px;

        @media screen and(max-width : 599px) {
          width: 72px;
          transform: scale(-1, 1); //反転

        }
      }
    }



  }

  .small {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #fff;
    margin-bottom: 20px;

    @media screen and(max-width : 599px) {
      font-size: 1.0rem;
      color: #333;
      margin-bottom: 10px;
    }
  }
}

.tomato-button {
  display: none;

  @media screen and(max-width : 599px) {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 999;
    right: 0px;

    p {
      position: absolute;
      font-size: 1.2rem;
      color: #fff;
      font-weight: bold;
      top: 43px;
      text-align: center;
      line-height: 1.7rem;
      right: 15px;
    }

    img {
      width: 110px;
    }
  }
}